version: 0.2
env:
  variables:
     # Cambia esto por el nombre del bucket S3
    STACK_NAME: "wmaker-stack-sam-lambda"       # Cambia esto por el nombre del stack
    StackEnvironment: "dev"
    DB_URL: "/dev/database/url/"
    ENVIRONMENT: "dev"
    AWS_DEFAULT_REGION: "us-east-1"
phases:
  install:
    runtime-versions:
      python: 3.11
    commands:
      - echo "Instalando SAM CLI..."
      - pip install aws-sam-cli

  pre_build:
    commands:
      - echo "Descargando dependencias..."
      - ls -la  # Listar archivos en el directorio actual
      - sam --version
      - cd sam-lambda-cicd
      - sam validate
      - echo "SAM Template validado con éxito"

  build:
    commands:
      - echo "Construyendo el paquete SAM....."
      - sam build
      - echo "Paquete construido exitosamente"
      - sam package  --output-template-file packaged.yaml

  post_build:
    commands:
      - echo "Empaquetando y subiendo los artefactos a S3..."
      - echo "Desplegando la función Lambda en la rama 'dev'..."
      - sam deploy --template-file packaged.yaml --stack-name $STACK_NAME  --capabilities CAPABILITY_IAM --region $AWS_DEFAULT_REGION --no-confirm-changeset
      - echo "Despliegue completado con éxito"

artifacts:
  files:
    - packaged.yaml
    - template.yaml
    - README.mdcs
  discard-paths: no

cache:
  paths:
    - '/root/.cache/pip/**/*'
